<!DOCTYPE html>
<html>
<script>
    window.$ = window.jQuery = require('./resources/js/jquery.js');
    var angular = require('angular');
    var settingsModule = require('./modules/settings');
    var constants = require('./modules/constants');
</script>
<script src="resources/js/bootstrap.js"></script>
<link href="resources/css/bootstrap.css" rel="stylesheet">
<link href="resources/css/style.css" rel="stylesheet">

<body ng-app="myApp" ng-controller="myCtrl" style="background: #fff;">
<div class="container">
    <div class="alert alert-warning">
        <ul>
            <li>Flash is NOT supported by GMusic(indicator).</li>
            <li>Spotify and SoundCloud may not work properly.</li>
        </ul>
    </div>

    <hr>

    <div class="row setting">
        <div class="col-xs-6">
            <input type="button" class="btn btn-success center-block" value="Save" ng-click="saveAll()"/>
        </div>
        <div class="col-xs-6">
            <input type="button" class="btn btn-warning center-block" value="Cancel" ng-click="close()"/>
        </div>
    </div>

    <hr>

    <div class="container" ng-repeat="settingGroup in allSettings" style="padding:0 25px 0;">
        <div class="row">
            <h4 class="settings-header">{{settingGroup.DISPLAY_NAME}}</h4>
        </div>
        <div class="row setting" ng-repeat="setting in settingGroup.VALUES">
            <div class="input-group">
                <span class="input-group-addon" id="{{setting.NAME}}">{{setting.DISPLAY_NAME}}</span>
                <!--buttons-->
                <span class="input-group-btn" ng-if="setting.TYPE == 'BUTTONS'">
                    <button class="btn btn-default" type="button" name="{{setting.NAME}}"
                            value="{{option.VALUE}}"
                            aria-describedby="{{setting.NAME}}"
                            ng-repeat="option in setting.OPTIONS" ng-click="buttonClicked(option.VALUE, setting.NAME)">{{option.DISPLAY_NAME}}
                    </button>
                </span>
                <!--TEXT-->
                <input type="text" class="form-control" style="min-width:200px;" name="{{setting.NAME}}"
                       ng-if="setting.TYPE == 'TEXT'" aria-describedby="{{setting.NAME}}"
                       aria-placeholder="{{setting.DEFAULT_VAL}}"
                       placeholder="{{setting.DESC}}">
                <!--NUMBERS-->
                <input type="number" class="form-control" style="min-width:200px;" name="{{setting.NAME}}"
                       ng-if="setting.TYPE == 'NUMBER'" aria-describedby="{{setting.NAME}}"
                       placeholder="{{setting.DESC}}">
                <!--DROPDOWN-->
                <div class="input-group-addon input-group-dropdown" ng-if="setting.TYPE == 'DROPDOWN'">
                    <select name="{{setting.NAME}}" title="{{setting.NAME}}">
                        <option ng-repeat="option in setting.OPTIONS" value="{{option.VALUE}}">{{option.DISPLAY_NAME}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <hr>
    </div>
    <div>
        <span>Visit: <a href="https://github.com/brnelsons/simplet-indicator-gmusic/wiki" target="_blank">simplet-indicator-gmusic/wiki</a> for help</span>
    </div>
    <div>
        <span>Version: <span id="appVersion">...?</span></span>
    </div>
</div>
<script>
    var app = angular.module("myApp", []);
    app.controller("myCtrl", function ($scope) {
        var electron = require('electron');
        var clientEventBus = electron.ipcRenderer;
        $scope.allSettings = settingsModule.SETTINGS;

        function updateButtons(optionValue, settingName) {
//            console.log("OPT:"+optionValue + ": settingName: " + settingName);
            deactivateButtons($('button[type=button][name="' + settingName + '"]'));
            $($('button[type=button][name="' + settingName + '"][value="' + optionValue + '"]')).addClass('active');
            $($('input[name="' + settingName + '"]')).val(optionValue);
            $('select[name="' + settingName + '"]>option[value="' + optionValue + '"]').prop('selected', true)
        }

        $scope.buttonClicked = updateButtons;

        function deactivateButtons(buttons) {
            buttons.removeClass('active');
        }

        var settingUtil;

        function getNewSetting(jsonSettingObject) {
            var type = jsonSettingObject.TYPE;
            var settingName = jsonSettingObject.NAME;
            if (type === 'BUTTONS') {
                return $('button[type=button][name="' + settingName + '"].active').val()
            } else if (type === 'DROPDOWN') {
                return $('select[name="' + settingName + '"]').val()
            } else if (type === 'TEXT' || type === 'NUMBER') {
                return $($('input[name="' + settingName + '"]')).val();
            } else {
                console.log("Could not find a setting for " + settingName)
            }
        }

        function close() {
            setTimeout(function () {
                clientEventBus.send(constants.events.closeSettings);
            }, 500);
        }

        function loadAll() {
            var settingGroups = settingsModule.SETTINGS;
            for (var groupName in settingGroups) {
                if (settingGroups.hasOwnProperty(groupName)) {
                    var groupSettings = settingGroups[groupName].VALUES;
                    for (var settingName in groupSettings) {
                        if (groupSettings.hasOwnProperty(settingName)) {
                            var valueName = groupSettings[settingName].NAME;
                            updateButtons(settingUtil.getForUi(valueName), valueName);
                        }
                    }
                }
            }
        }

        function saveAll() {
            var settingGroups = settingsModule.SETTINGS;
            for (var groupName in settingGroups) {
                if (settingGroups.hasOwnProperty(groupName)) {
                    var groupSettings = settingGroups[groupName].VALUES;
                    for (var settingName in groupSettings) {
                        if (groupSettings.hasOwnProperty(settingName)) {
                            var groupSetting = groupSettings[settingName];
                            console.log(settingName + "=" + getNewSetting(groupSetting));
                            settingUtil.set(groupSetting, getNewSetting(groupSetting))
                        }
                    }
                }
            }
            close();
        }

        $scope.saveAll = saveAll;
        $scope.close = close;

        clientEventBus.on(constants.events.setAppDataPath, function (event, appDataPath) {
            settingUtil = require('./modules/settings-util')(appDataPath);
            loadAll();
        });
        clientEventBus.send(constants.events.getAppDataPath);

        clientEventBus.on(constants.events.setAppVersion, function (event, appVersion) {
            $('span#appVersion').text('V' + appVersion);
        });
        clientEventBus.send(constants.events.getAppVersion);

    });
</script>

</body>
</html>

